<div class="flex-fill">
    <div class="recent-problems">
        <table class="recent-table">
            <thead>
            <tr>
                <th>No</th>
                <th>문제</th>
                <th>카테고리</th>
                <th>작성자</th>
                <th>작성일자</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${approved.content}" class="approved-quiz-row" th:attr="data-question-no=${item.questionNo}">
                <td th:text="${item.questionNo}">1</td>
                <td th:text="${item.content}">퀴즈입니다.</td>
                <td th:text="${item.categoryName}">네트워크</td>
                <td th:text="${item.fstCrtUsid}">홍길동</td>
                <td th:text="${#temporals.format(item.fstCrtDtti, 'yyyy-MM-dd')}">9999-99-99</td>
            </tr>
            <tr th:if="${approved.content.size() == 0}">
                <td colspan="6" class="text-center">반려된 문제가 없습니다.</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

<!-- Ajax 페이징 처리 -->
<nav th:if="${approved.totalPages > 1}" aria-label="페이지네이션">
    <ul class="pagination justify-content-center mt-3">

        <!-- 이전 버튼 -->
        <li class="page-item" th:if="${approved.number >= 5}">
            <a class="page-link approved-page-link"
               href="#"
               th:data-page="${(approved.number/5-1)*5}"
               aria-label="이전">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>

        <!-- 페이지 번호 -->
        <li class="page-item"
            th:each="i : ${#numbers.sequence((approved.number / 5) * 5, T(java.lang.Math).min(((approved.number / 5) * 5 + 4), approved.totalPages - 1))}"
            th:classappend="${i == approved.number} ? 'active'">
            <a class="page-link approved-page-link"
               href="#"
               th:data-page="${i}"
               th:text="${i + 1}">
            </a>
        </li>

        <!-- 다음 버튼 -->
        <li class="page-item" th:if="${((approved.number / 5 + 1) * 5) < approved.totalPages}">
            <a class="page-link approved-page-link"
               href="#"
               th:data-page="${(approved.number/5+1)*5}"
               aria-label="다음">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>