HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/src/main/resources/application.yml
/docker-infra/Docker-compose.yaml
/docker-infra/data/oracle/FREE/control01.ctl
/docker-infra/data/oracle/XE/control01.ctl
/docker-infra/data/oracle/FREE/control02.ctl
/docker-infra/data/oracle/XE/control02.ctl
/docker-infra/data/oracle/dbconfig/FREE/listener.ora
/docker-infra/data/oracle/dbconfig/XE/listener.ora
/docker-infra/data/oracle/dbconfig/FREE/orapwFREE
/docker-infra/data/oracle/dbconfig/XE/orapwXE
/docker-infra/data/oracle/FREE/redo01.log
/docker-infra/data/oracle/XE/redo01.log
/docker-infra/data/oracle/FREE/redo02.log
/docker-infra/data/oracle/XE/redo02.log
/docker-infra/data/oracle/dbconfig/FREE/spfileFREE.ora
/docker-infra/data/oracle/dbconfig/XE/spfileXE.ora
/docker-infra/data/oracle/dbconfig/FREE/sqlnet.ora
/docker-infra/data/oracle/dbconfig/XE/sqlnet.ora
/docker-infra/data/oracle/FREE/FREEPDB1/sysaux01.dbf
/docker-infra/data/oracle/FREE/pdbseed/sysaux01.dbf
/docker-infra/data/oracle/FREE/sysaux01.dbf
/docker-infra/data/oracle/XE/pdbseed/sysaux01.dbf
/docker-infra/data/oracle/XE/XEPDB1/sysaux01.dbf
/docker-infra/data/oracle/XE/sysaux01.dbf
/docker-infra/data/oracle/FREE/FREEPDB1/system01.dbf
/docker-infra/data/oracle/FREE/pdbseed/system01.dbf
/docker-infra/data/oracle/FREE/system01.dbf
/docker-infra/data/oracle/XE/pdbseed/system01.dbf
/docker-infra/data/oracle/XE/XEPDB1/system01.dbf
/docker-infra/data/oracle/XE/system01.dbf
/docker-infra/data/oracle/FREE/FREEPDB1/temp01.dbf
/docker-infra/data/oracle/FREE/pdbseed/temp01.dbf
/docker-infra/data/oracle/FREE/temp01.dbf
/docker-infra/data/oracle/XE/pdbseed/temp01.dbf
/docker-infra/data/oracle/XE/XEPDB1/temp01.dbf
/docker-infra/data/oracle/XE/temp01.dbf
/docker-infra/data/oracle/dbconfig/FREE/tnsnames.ora
/docker-infra/data/oracle/dbconfig/XE/tnsnames.ora
/docker-infra/data/oracle/FREE/FREEPDB1/undotbs01.dbf
/docker-infra/data/oracle/FREE/pdbseed/undotbs01.dbf
/docker-infra/data/oracle/FREE/undotbs01.dbf
/docker-infra/data/oracle/XE/pdbseed/undotbs01.dbf
/docker-infra/data/oracle/XE/XEPDB1/undotbs01.dbf
/docker-infra/data/oracle/XE/undotbs01.dbf
/docker-infra/data/oracle/FREE/FREEPDB1/users01.dbf
/docker-infra/data/oracle/FREE/users01.dbf
/docker-infra/data/oracle/XE/XEPDB1/users01.dbf
/docker-infra/data/oracle/XE/users01.dbf
