<aside th:fragment="sidebar" class="sidebar-nav-wrapper">
    <div class="navbar-logo">
        <a href="index.html">
            <img src="/images/logo/logo.png" alt="logo" />
        </a>
    </div>
    <nav class="sidebar-nav">
        <ul>
            <li class="nav-item">
                <a href="/mypage">
             <span class="icon">
               <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
               </svg>
             </span>
                    <span class="text">🐱 마이페이지</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/rank">
             <span class="icon">
               <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
               </svg>
             </span>
                    <span class="text">🏆 전체 랭킹</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/quiz">
             <span class="icon">
               <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
               </svg>
             </span>
                    <span class="text">📜 퀴즈 풀기</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/wiki">
             <span class="icon">
               <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
               </svg>
             </span>
                    <span class="text">📖 위키</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/wiki/new">
             <span class="icon">
               <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
               </svg>
             </span>
                    <span class="text">✏️ 퀴즈 등록</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin">
             <span class="icon">
               <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
               </svg>
             </span>
                    <span class="text">🛠️ 관리자 페이지</span>
                </a>
            </li>
            <span class="divider"><hr /></span>
        </ul>
    </nav>
</aside>